<!-- mainbar -->


  <!-- <div class="col-md-9">

  	<br>
  	<br>

  	<div class="row col-md-offset-2">
				<% @articles.in_groups_of(3, false) do |row| %>
				<% for article in row %>
			<table>


				<thead>
					<tr>
						<td>
							<td><%= article.title %></td>
						</td>
					</tr>

				</thead>

				<tbody>

			  <tr>
			    <td><% for article in row_tasks %>	</td>
			  </tr>
				</tbody>


			</table>
			<% end %>
				<% end %>
  	</div>


  </div> -->
