


<!-- sidebar -->
<div class="row">
	
  <aside class="col-md-3">
  	<br>
  	<br>
  	
    <section class="user-info">

      <span><%=link_to "User_name", "#"%></span>
      <span><%=link_to "company_name", "#"%> </span>
    </section>

    
  </aside>

<!-- end of sidebar -->


<!-- mainbar -->
	

  <div class="col-md-9">
  	<br>
  	<br>
  	<div class="row col-md-offset-2">

  	<div class="col-md-3 bg-primary">
  		<div class="news_heading">news_heading</div>
  		<div class="news_comment">this is comment</div>
  	</div>

  	<div class="col-md-3 bg-secondary">
  		<div class="news_heading">news_heading</div>
  		<div class="news_comment">this is comment</div>
  	</div>

  	<div class="col-md-3 bg-success">
  		<div class="news_heading">news_heading</div>
  		<div class="news_comment">this is comment</div>
  	</div>
    
  </div>


  </div>

</div>


<!--  -->


 