


<!-- sidebar -->
<div class="row">

  <aside class="col-md-3">
  	<br>
  	<br>

    <section class="user-info">

      <span class="block_elem">
        <% @user = User.first %>
        <%= gravatar_for @user %>
      </span>
      <span class="user_name block_elem"><%= @user.name %></span>

      <span><%=link_to "company_name", "#", class: "block_elem" %> </span>


    </section>


  </aside>

<!-- end of sidebar -->


<!-- mainbar -->


  <!-- <div class="col-md-9">

  	<br>
  	<br>

  	<div class="row col-md-offset-2">
				<% @articles.in_groups_of(3, false) do |row| %>
				<% for article in row %>
			<table>


				<thead>
					<tr>
						<td>
							<td><%= article.title %></td>
						</td>
					</tr>

				</thead>

				<tbody>

			  <tr>
			    <td><% for article in row_tasks %>	</td>
			  </tr>
				</tbody>


			</table>
			<% end %>
				<% end %>
  	</div>


  </div> -->

</div>


<!--  -->
