


<!-- sidebar -->
<div class="row">

  <aside class="col-md-3">
  	<br>
  	<br>

    <section class="user-info">

      <span class="block_elem">
        <% @user = User.first %>
        <%= gravatar_for @user %>
      </span>
      <span class="user_name block_elem"><%= @user.name %></span>

      <span><%=link_to "company_name", "#", class: "block_elem" %> </span>


    </section>


  </aside>

<%= render 'top_pages/body' %>
</div>


<!--  -->
